HappyFarmProject/HappyFarmProjectAPI/HappyFarmProjectAPI.csproj
HappyFarmProject/HappyFarmProjectAPI/bin/HappyFarmProjectAPI.dll
HappyFarmProject/HappyFarmProjectAPI/bin/HappyFarmProjectAPI.pdb
HappyFarmProject/HappyFarmProjectAPI/obj/Debug/HappyFarmProjectAPI.csproj.CoreCompileInputs.cache
HappyFarmProject/HappyFarmProjectAPI/obj/Debug/HappyFarmProjectAPI.csproj.FileListAbsolute.txt
HappyFarmProject/HappyFarmProjectAPI/obj/Debug/HappyFarmProjectAPI.csprojAssemblyReference.cache
HappyFarmProject/HappyFarmProjectAPI/obj/Debug/HappyFarmProjectAPI.dll
HappyFarmProject/HappyFarmProjectAPI/obj/Debug/HappyFarmProjectAPI.pdb
HappyFarmProject/HappyFarmProjectApiTest/obj/Debug/HappyFarmProjectApiTest.csprojAssemblyReference.cache
HappyFarmProject/HappyFarmProjectWebAdmin/obj/Debug/HappyFarmProjectWebAdmin.csprojAssemblyReference.cache
