@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div id="promo-card"></div>

<script>
    $(document).ready(() => {
        async function getData() {
            const url = 'https://localhost:44301/api/v1/Promo';

            $.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                async: true,
                success: async function (result) {
                    let document = ``;
                    let n = result.Data.length + 1;

                    for (let i = 1; i < result.Data.length + 1; i++) {
                        const item = result.Data[i - 1];
                        if (i % 4 == 1) {
                            console.log(i);
                            document += `
                                <div class="row">
                            `
                        }

                        let desc = `Nikmati promo <span style='font-weight: bold'>` + item.Name + `</span> dengan `;
                        if (item.MinTransaction > 0) {
                            desc += `minimal transaksi Rp. ` + item.MinTransaction + ` dan `;
                        } else {
                            desc += `tanpa minimal transaksi dan `;
                        }

                        if (item.MaxDiscount > 0) {
                            desc += `maksimal diskon Rp. ` + item.MaxDiscount +`. `;
                        } else {
                            desc += `tanpa maksimal diskon. `;
                        }

                        const startDate = new Date(item.StartDate);
                        const endDate = new Date(item.EndDate);

                        desc += `Promo berlaku dari tanggal <span style='font-weight: bold'>` + startDate.getDay() + `/` + (startDate.getMonth() + 1) + `/` + startDate.getFullYear() +
                            `</span> dan berakhir pada tanggal <span style='font-weight: bold'>` + endDate.getDay() + `/` + (endDate.getMonth() + 1) + `/` + endDate.getFullYear() + `</span>.`;

                        document += `
                            <div class="card" style="width: 22em; margin: 20px">
                                <img class="card-img-top" src="https://localhost:44366/Images/Promo/`+ item.Image + `" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">` + item.Code+ `</h5>
                                    <p class="card-text">`+ desc +`</p>
                                </div>
                            </div>
                        `;

                        if (i % 4 == 0 || n == 2) {
                            console.log(i);
                            document += `
                                </div>
                            `;

                            $('#promo-card').append(document);
                            document = ``;
                        }
                        n--;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + textStatus + ' ' + errorThrown);
                }
            })
        }

        getData();
    });
</script>