
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/c3.min.css" rel="stylesheet">
<link href="~/Content/chartist.min.css" rel="stylesheet">
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laporan Penjualan Harian</h4>

            <div class="d-flex">
                <div>Bulan</div>
                <select name="month" id="month" style="margin-left:10px">
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
                <div style="margin-left: 50px">Tahun</div>
                <select name="year" id="year" style="margin-left: 10px">
                    <option value="2030">2030</option>
                    <option value="2029">2029</option>
                    <option value="2028">2028</option>
                    <option value="2027">2027</option>
                    <option value="2026">2026</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                </select>
            </div>

            <div class="net-income mt-4 position-relative" style="height:500px;"></div>
            <ul class="list-inline text-center mt-5 mb-2">
                <li class="list-inline-item text-muted font-italic">Penjualan Harian</li>
            </ul>

            <br />
            <h3 style="text-align:center; margin-bottom:10px; margin-top: 10px;">Laporan Penjualan Harian</h3>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Pembelian</th>
                        <th scope="col">Penjualan</th>
                        <th scope="col">Untung</th>
                    </tr>
                </thead>
                <tbody id="selling-table">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/chartist.min.js"></script>
<script src="~/Scripts/chartist-plugin-tooltip.min.js"></script>
<script src="~/Scripts/chartist-plugin-legend.js"></script>
<script src="~/Scripts/dashboard1.js"></script>