
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/c3.min.css" rel="stylesheet">
<link href="~/Content/chartist.min.css" rel="stylesheet">
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laporan Penjualan Harian</h4>
            <div class="net-income mt-4 position-relative" style="height:500px;"></div>
            <ul class="list-inline text-center mt-5 mb-2">
                <li class="list-inline-item text-muted font-italic">Penjualan Harian</li>
            </ul>
        </div>
    </div>
</div>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/chartist.min.js"></script>
<script src="~/Scripts/chartist-plugin-tooltip.min.js"></script>
<script src="~/Scripts/chartist-plugin-legend.js"></script>
<script src="~/Scripts/dashboard1.js"></script>